body {
    background-color: white;
    margin: 0px;
}

.header {
    border: solid; 
    background-color: black;
    color: white;
    width: auto;
    height: 100px;
    position: relative;
    justify-content: center;
    text-align: center;
}

.container1 {
    background-color: white;
    width: 1300px;
    height: 300px;
    position: relative;
    margin: auto;
    padding-left: auto;
}
