<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Page de gestion</title>
</head>
<body>
    <div class="header">
        <h1>Accueil</h1>
        <nav>
            <a href="/">Accueil</a> | <a href="/employes">Employés</a> | <a href="/postes">Postes</a> | <a href="/departements">Départements</a> |
        </nav>
    </div>
    <br>
    <br>
    <div class="container1">
        <h4>Recherche d'un employé</h4>
        <label for="name">Nom de l'employé:</label>
        <input type="text" id="name" name="name">
        <h4>Ajout ou suppression d'un employé</h4>
    </div>
</body>
</html>