<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Liste des Postes</title>
</head>
<body>
    <h1>Liste des Postes</h1>
    <nav>
        <a href="/">Accueil</a>
        <a href="/ajouter">Ajouter un Employé</a>
        <a href="/modifier">Modifier un Employé</a>
        <a href="/supprimer">Supprimer un Employé</a>
        <a href="/postes">Lister les Postes</a>
        <a href="/departements">Lister les Départements</a>
    </nav>

    <table>
        <thead>
            <tr>
                <th>ID du Poste</th>
                <th>Nom du Poste</th>
                <th>ID du Département</th>
            </tr>
        </thead>
        <tbody>
            {{range .}}
            <tr>
                <td>{{.PosteId}}</td>
                <td>{{.NomPoste}}</td>
                <td>{{.DepartementId}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</body>
</html>
