<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Page de gestion des départements</title>
</head>
<body>
    <div class="header">
        <h1>Départements</h1>
        <nav>
            <a href="/">Accueil</a> | <a href="/employes">Employés</a> | <a href="/postes">Postes</a> | <a href="/departements">Départements</a> |
        </nav>
    </div>

    <div class="container">
        <h2>Liste des départements</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Nom du Département</th>
            </tr>
            {{range .}}
            <tr>
                <td>{{.DepartementId}}</td>
                <td>{{.NomDepartement}}</td>
            </tr>
            {{end}}
        </table>
    </div>
</body>
</html>
